export( 
   hilbertDefaultPalette, 
   hilbertCurve,
   hilbertCurvePoint,
   plotHilbertCurve,
   shrinkVector,
   plotLongVector,
   makeWiggleVector,
   hilbertImage,
   makeRandomTestData,
   seqBin )
   
import( grid )

useDynLib( HilbertVis,
   hilbertCurveR,
   shrink_vector_int,
   shrink_vector_double,
   make_wiggle_vector,
   seq_bin_double,
   seq_bin_int )
