export( 
   hilbertCurve,
   hilbertCurvePoint,
   plotHilbertCurve,
   shrinkVector,
   plotLongVector,
   makeWiggleVector,
   hilbertImage,
   makeRandomTestData,
   showHilbertImage )
   
import( grid, lattice )

useDynLib( HilbertVis,
   hilbertCurveR,
   shrink_vector_int,
   shrink_vector_double,
   make_wiggle_vector )
